@import "../../styles/index.scss";

.card {
    margin: 0.5rem;
    border-radius: 1.25rem;
    box-shadow: 0rem 0rem 0.25rem #9a9a9a;
    // width: calc((100% - (8 * 0.125rem + 8 * 0.5rem)) / 4);
    width: 21rem;
    display: flex;
    flex-direction: column;
    border: 0.125rem solid lightgrey;
    align-items: flex-start;
    background-color: $primary-background-color;
    color: $primary-text-color;
    font-family: "Inconsolata", monospace
}

.card p{
    margin: 1rem;
}

.word{
    font-weight: bold;
    font-size: 1.5rem;
}

// @media (max-width: 72rem) {
//     .card {
//         width:  calc((100% - (6 * 0.125rem + 6 * 0.5rem)) / 3);
//     }
// }

@media (max-width: 72rem) {
    .card {
        width:  20rem;
    }
}

// @media (max-width: 48rem) {
//     .card {
//         width:  calc((100% - (4 * 0.125rem + 4 * 0.5rem)) / 2);
//     }
// }

@media (max-width: 48rem) {
        .card {
            width:  22.75rem;
        }
    }

// @media (max-width: 30rem) {
//     .card {
//         width: 100%;
//     }
// }
